Package: com.filippobiga.privatesms
Name: PrivateSMS
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Hide your SMS
Maintainer: FilippoBiga
Author: FilippoBiga
Section: Tweaks
